.s-section{
    padding: 150px 0 200px;
    position: relative;
    color: black;
}


.block{
    width: 300px;
    height: 300px;
    background-color: gray;
}

.s-section__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 20px;
}

.s-section__about{
    width: 600px;
    justify-self: start;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    border-radius: 15px;
    padding: 20px 30px 40px;
}

.s-section__heading{
    font-size: 48px;
}

.s-section__about p{
    text-align: justify;
}

.s-section__map{
    width: 100%;
    justify-self: end;
}

.s-section__video{
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


.s-section__iframe{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
}

